.about-content {
  padding: 10% 5%;
}

.photo {
  text-align: center;
}

.description {
  padding-right: 25rem;
  padding-top: 3vh;
  text-align: left;
}

img {
  position: relative;
  transform: translateY(5%);
  vertical-align: middle;
  border-style: none;
}

#myPhoto {
  border-radius: 50%;
  height: 225px;
  width: 225px;
}

/* Breakpoint for phones to reduce l/r padding */
@media (max-width: 575.98px) {
  .about-content {
    padding: 5% 0;
  }

  .description {
    margin-top: 20px;
  }

  #myPhoto {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 991.98px) {
  .about-content {
    padding: 5% 0;
  }

  .description {
    margin-top: 20px;
  }
}
