/* Overlay content */
.caption {
  color: white;
  text-align: center;
  padding-top: 25%;
}

#name {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1em;
}

#opener {
  text-transform: lowercase;
  letter-spacing: 0.2em;
}

/* Breakpoint for phones & tablets */
@media (max-width: 767.98px) {
  .caption {
    padding: 35% 0;
  }

  #opener {
    letter-spacing: 0em;
  }
}

/* Link & brand styles */
.landing-link {
  color: white;
}

.landing-link:hover {
  color: cyan;
}

.brand-icons {
  text-align: center;
  padding: 2vh 1vw;
}
