.pro-content {
  padding: 10% 0;
}

#pro-header {
  text-align: right;
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  padding-bottom: 1%;
}

.myprojects {
  color: black;
  background-color: transparent;
  padding: 0 20px !important;
  margin: 10px auto;
  text-align: left;
}

.pro-titles {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5em;
  padding-bottom: 3%;
}

.project-row {
  margin-top: 5%;
}

.pro-button {
  text-align: center;
  padding-top: 5%;
}

@media (max-width: 575.98px) {
  #pro-header {
    padding-bottom: 5%;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
  }

  .myprojects {
    text-align: center;
  }
}
