.pro-content {
  padding: 10% 0;
}

#pro-header {
  text-align: left;
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: 2px solid black;
  padding-bottom: 1%;
}

.myprojects {
  text-align: left;
}

.pro-titles {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.5em;
  padding-bottom: 3%;
}

.project-row {
  margin-top: 5%;
}

#osseus, #portfolio {
  background-color: #201116;
  color: white;
}

#osseus > img {
  display: block;
  margin: 0 auto;
}

#portfolio > img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  #pro-header {
    padding-bottom: 5%;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
  }

  .myprojects {
    text-align: left;
  }

  #osseus, #portfolio {
    margin: 5% 0;
  }

  #osseus > img {
    width: 325px !important;
    height: 250px !important;
  }

  #portfolio > img {
    width: 325px !important;
    height: 250px !important;
  }
}

@media (max-width: 375px) {
  #osseus > img {
    width: 275px !important;
    height: 250px !important;
  }

  #portfolio > img {
    width: 275px !important;
    height: 250px !important;
  }
}

@media (max-width: 321px) {
  #osseus > img {
    width: 225px !important;
    height: 200px !important;
  }

  #portfolio > img {
    width: 225px !important;
    height: 200px !important;
  }
}
