.software-content {
  padding: 10% 0;
}

.tech {
  margin-top: 5%;
  text-align: center;
}

.lang {
  padding: 5%;
}

#soft-title {
  text-align: left;
  font-size: 2.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  padding-bottom: 1%;
}

#js {
  letter-spacing: 5px;
  text-transform: uppercase;
}

#py {
  letter-spacing: 5px;
  text-transform: uppercase;
}

#em {
  letter-spacing: 5px;
  text-transform: uppercase;
}

#web {
  letter-spacing: 5px;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {


  #soft-title {
    padding-bottom: 5%;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
  }


}
