* {
  font-family: "Chakra Petch", sans-serif;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.main {
  background: url("images/slightly-hazy-forest.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  height: 70vh;
}

.education {
  height: 100vh;
  padding: 5vh 0;
  background-color: #282828;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

/* @media (max-width: 767.98px) {
  .;
} */
