* {
  font-family: "Raleway", sans-serif;
}

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
}

.main {
  background-image: url("images/slightly-hazy-forest.jpg");
  position: relative;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  height: 50vh;
  position: relative;
}

.software,
.projects {
  height: 100vh;
  padding: 5vh 0;
  background-color: #282828;
  color: white;
  position: relative;
}

.projects {
  background-color: white;
  color: black;
  position: relative;
}

@media (max-width: 767.98px) {
  .about {
    height: 110vh;
    overflow: hidden;
  }

  .software {
    height: 150vh;
    overflow: hidden;
  }

  .projects {
    height: 150vh;
    overflow: hidden;
  }
}
