* {
  font-family: 'Manjari', sans-serif;
}

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  height: 100vh;
  background-image: url("assets/rocket_ship.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  height: 50vh;
  position: relative;
  background-color: #097DBC;
  color: white;
}

.experience {
  background-color: #097DBC;
  color: white;
}

.software {
  background-color: #edf6fd;
  color: black;
}

.software,
.projects {
  height: 100vh;
  padding: 5vh 0;
  position: relative;
}

.projects {
  background-color: #097DBC;
  color: white;
}

@media (max-width: 767.98px) {
  .main {
    padding: 10% 0;
    overflow: hidden;
  }

  .about {
    height: 90vh;
    overflow: hidden;
  }

  .experience {
    height: 165vh;
    overflow: hidden;
  }

  .software {
    height: 170vh;
    overflow: hidden;
  }

  .projects {
    height: 200vh;
    overflow: hidden;
  }
}

@media (max-width: 575.98px) {
  .main {
    padding: 10% 0;
    overflow: hidden;
  }

  .about {
    height: 95vh;
    overflow: hidden;
  }

  .experience {
    height: 175vh;
    overflow: hidden;
  }

  .software {
    height: 170vh;
    overflow: hidden;
  }

  .projects {
    height: 205vh;
    overflow: hidden;
  }
}
